---
import Layout from '../layouts/Layout.astro';
import ShowsComponent from '../components/ShowsComponent.astro';
import VideosEmbed from '../components/VideosEmbed.astro';
import ImageGallery from '../components/ImageGallery.astro';
---

<Layout title="kid soma" description="the world of kid soma, an electronic/ambient music producer from sydney.">
	<main>
		<div class="h-screen">
			<VideosEmbed />
			<h2 class="text-3xl font-extrabold text-center pt-8">some of the hits</h2>
			<iframe style="border-radius:12px" class="pt-8 m-auto"
			src="https://open.spotify.com/embed/playlist/7JjPDEFH2jhdxXZZLH8Pe9?utm_source=generator&theme=0" 
			title="spotify player"
			width="420" height="480" 
			allowfullscreen="" 
			allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
			loading="lazy" />
			<h2 class="text-3xl font-extrabold text-center pt-8">shows</h2>
			<ShowsComponent />
			<h2 class="text-3xl font-extrabold text-center pt-8">photography</h2>
			<ImageGallery />
		</div>
	</main>
</Layout>