---
import { NavigationLinks } from "../config";
---
<nav class="flex mb-2 border-b-2 pt-16 sm:flex-col md:flex-col lg:flex-row">
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-xl lg:flex-grow">
        {NavigationLinks.map((link) => <a class="block lg:inline-block pr-4 pl-4 text-right font-semibold hover:dark:bg-white hover:dark:text-black hover:bg-black hover:text-white" href={link.href}>{link.name}</a>)}
        </div>
      </div>
</nav>