---
export interface TSample {
    layout: string,
    packName: string,
    description?: string,
    downloadURL: string,
    image?: string | null
}

export interface Props {
    sample: TSample
}

const { sample } = Astro.props
---
<a class="flex flex-col justify-evenly hover:dark:bg-gray-800 hover:bg-gray-200 pt-6 pb-6" href={sample.downloadURL}>
    <div class="flex flex-col text-left">
        <h1>{sample.packName}</h1>
        {sample.description ? <div class="dark:text-gray-300 text-gray-700">{sample.description}</div>: null}
    </div>
</a>