---
import VideoDisplay from "./VideoDisplay.astro";
---
<div class="flex justify-evenly sm:flex-row flex-col">
    <VideoDisplay title="gutters music video" embedURL="https://www.youtube.com/embed/2gO1QeJBBgc" />
    <VideoDisplay title="6 pills" embedURL="https://www.youtube.com/embed/ESi3bqsLyCY" />
</div>