---
import VideoDisplay from "./VideoDisplay.astro";
//flex justify-evenly sm:flex-row flex-col
---
<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
    <VideoDisplay title="gutters music video" embedURL="https://www.youtube.com/embed/2gO1QeJBBgc" />
    <VideoDisplay title="6 pills" embedURL="https://www.youtube.com/embed/ESi3bqsLyCY" />
    <VideoDisplay title="late night w/ KUDA" embedURL="https://www.youtube.com/embed/XDLz0aa5aY8" />
</div>